*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    /* width: 100%; */
}
#header {
    position: relative;
}

#header .header-top{
    background-color: #000;
    color: #fff;
    display: flex;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    z-index: 1050;
}

/* header-top -> top-list */

#header .header-top .top-list{
    display: flex;
    line-height: 29.2px;
}

.top-list .list-price-down button {
    display: flex;
    padding: 7px;
    display: flex;
    background-color: rgb(176, 180, 53);
    color: #fff;
    border: none;
    width: 95px;
} 

.top-list .list-price-down {
    position: relative;
}

.top-list .list-price-down .list-price-select {
    position: absolute;
    display: none;
    list-style: none;
}

.list-price-down button p {
    padding-right: 35px;
}

.list-price-down button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.top-list .list-nav ul {
    display: flex;
}

.top-list .list-phone {
    padding-left: 10px;
}

.top-list .list-phone a {
    text-decoration: none;
    color: #fff;
}

.top-list .list-phone a:hover {
    cursor: pointer;
    color:rgb(176, 180, 53);
    transition-duration: 1s;
}

.top-list .list-nav {
    padding-left: 15px;
}

.top-list .list-nav ul {
    list-style: none;
}

.list-nav ul .nav-account a {
    padding-left: 5px;
    padding-right: 10px;
}

.list-nav ul a i {
    font-size: 14px;
    padding-right: 3px;
}

.list-nav ul li {
    font-weight: 600;
}

.list-nav ul a {
    text-decoration: none;
    color: #fff;
}

.list-nav ul .nav-location {
    padding: 0 10px;
}

ul .nav-location a {
    padding-right: 10px;
}

.list-nav ul a:hover {
    cursor: pointer;
    color:rgb(176, 180, 53);
    transition-duration: 1s;
}

/* header-top -> top-sign */
#header .header-top .top-sign {
    display: flex;
    /* line-height: 29.2px; */
}

.header-top .top-sign .sign-qc {
    padding-left: 11rem;
    padding-right: 27rem;
    font-weight: 600;
}

.top-sign .sign-qc i {
    font-size: 14px;
    margin-right: 10px;
    color: rgb(176, 180, 53);
}

.top-sign .sign-here {
    position: relative;
}

.top-sign .sign-here button {
    display: flex;
    padding: 7px;
    display: flex;
    background-color: rgb(176, 180, 53);
    color: #fff;
    border: none;
    width: 120px;
    text-decoration: none;
} 

.sign-here button i {
    padding-left: 15px
}

.top-sign .sign-here .sign-here-list {
    position: absolute;
    display: none;
    text-align: left;
}

.top-sign .sign-here .sign-up:hover,
.top-sign .sign-here .sign-in:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* header bottom */

#header .header-bottom {
    display: flex;
    height: 134px;
    line-height: 134px;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
    margin-top: 49px;
}

.header-bottom .bottom-logo a img{
    margin-top: 12px;
    margin-left: 204px
}

.header-bottom .bottom-list {
    padding-left: 205px;
}

.header-bottom .bottom-list ul {
    display: flex;
    list-style: none;
}

.bottom-list .list-shop button{
    border: none;
    background-color: #fff;
}

.bottom-list .list-shop button,
.bottom-list ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    padding-right: 45px;
}

.bottom-list ul .list-home a{
    color: rgb(176, 180, 53);
}

.bottom-list .list-shop button:hover,
.bottom-list ul a:hover{
    color: rgb(176, 180, 53);
    cursor: pointer;
    transition: 1s;
}

.bottom-list .list-shop a i{
    padding-left: 3px;
}

.list-shop-nav{
    position: fixed;
    margin-top: 149px;
    z-index: 1100;
    margin-left: 813px;
    background-color: #000;
    line-height: 2;
    width: 119px;
    padding: 10px 20px;
    display: none;
}

.list-shop-nav ul a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.list-shop-nav ul li:hover a{
    color: rgb(176, 180, 53);
    font-size: 17px;
    font-weight: 600;
}

#header .header-bottom .bottom-search {
    display: flex;
}

.header-bottom .bottom-search .search {
    line-height: 134px;
    padding-right: 40px;
    font-weight: 600;
    font-size: 15px;
}

.header-bottom .bottom-search .search:hover {
    color: rgb(176, 180, 53);
    cursor: pointer;
    transition: 1s;
}

.bottom-search .bottom-cart i{
    font-size: 15px;
    font-weight: 600;
}

.bottom-search .bottom-cart:hover {
    color: rgb(176, 180, 53);
    cursor: pointer;
    transition: 1s;
}

/* list-nav cho mobile */
.header-mobile {
    padding-left: 50px;
    padding-top: 182px;
    display: none;
}

.header-bottom .icon-list{
    display: none;
}

.header-mobile ul {
    list-style: none;
}

.header-mobile a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.header-mobile .mobile-nave-list hr {
    background-color: #ccc;
    height: 1px;
    border: none;
}

.header-mobile li {
    padding: 10px 0 10px 15px;
}

.header-mobile .list-home a:first-child {
    color: rgb(176, 180, 53);
}

.header-mobile .mobile-nave-list {
    margin-right: 35px;

}

.header-mobile .list-shop-mb .shop-nav{
    display: none;
}

.mobile-nave-list .list-shop-mb i{
    padding-left: 46rem;
}

.header-mobile .list-shop-mb {
    color: #000;
    font-size: 18px;
    font-weight: 600; 
}


/* start sign-in-detail, sign-up-detail */
.sign-up-detail ,
.sign-in-detail {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1110;
    display: none;
    
}

.sign-up-detail .sign-in-layout,
.sign-in-detail .sign-in-layout{
    background-color: #fff;
    width: 30rem;
    margin: 52px 40rem;
    text-align: center;
    padding: 15px 90px;
}

.sign-in-layout {
    position: relative;
    animation: modalSignin ease 1s;
}

.sign-in-layout .sign-in-title .sign-in-logo{
    display: flex;
}

.sign-in-layout .fa-xmark {
    font-size: 20px;
    background-color: rgb(176, 180, 53);
    color: #fff;
    height: 18px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1110;
    top: 0;
    right: 0;
}

.sign-in-layout .fa-xmark:hover {
    cursor: pointer;
    opacity: 0.8;
}

.sign-in-layout .sign-in-title h4{
    font-size: 24px;
    font-weight: 600;
    color: #aaa8a8;
    font-style: italic;
}

.sign-in-layout .sign-in-pass input,
.sign-in-layout .sign-in-email {
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin: 15px 0;
    padding-left: 10px;
}

.sign-in-layout .sign-in-pass a{
    color: #000;
}

.sign-in-layout .sign-in-login button{
    margin: 15px 0;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    background-color: #cc0f0f;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.sign-in-layout .sign-in-connect .connect-f{
    width: 100%;
    padding: 10px 0;
    background-color: #04049f;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin: 15px 0;
    font-size: 14px;
    cursor: pointer;
}

.sign-in-connect .connect-g i,
.sign-in-connect .connect-f i{
    font-size: 20px;
    margin-right: 10px;
}

.sign-in-layout .sign-in-connect .connect-g{
    width: 100%;
    padding: 10px 0;
    background-color: #298bd2;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin: 15px 0;
    font-size: 14px;
    cursor: pointer;
}

.sign-in-layout .sign-in-last button{
    background-color: rgb(176, 180, 53);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 1px;
    cursor: pointer;
}

@keyframes modalSignin{
    from{
        opacity: 0;
        transform: translateY(-500px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* end sign-in-detail,sign-up-detail */



/* responsive */
/* ipad */
@media (min-width: 740px) and (max-width: 1023px){

.top-list .list-price-down,
.top-list .list-phone{
    display: none;
}

.header-top .top-sign .sign-qc {
    padding-left: 30px;
    padding-right: 40px;
}

.header-bottom .bottom-logo a img {
    margin-left: 13rem;
}

.header-bottom .bottom-list {
    display: none;
}

#header .header-bottom .bottom-search{
    padding-left: 11rem;
}

.header-bottom .icon-list {
    font-size: 20px;
    display: grid;
    align-content: center;
    margin-left: 4rem;
}

.fa-bars:before, .fa-navicon:before{
    border: 2px solid rgb(176, 180, 53);
    padding: 10px;
}

.sign-up-detail .sign-in-layout,
.sign-in-detail .sign-in-layout{
    margin: 182px 8rem;
}
}


/* mobile */
@media (max-width: 740px){
    .top-list .list-price-down,
    .top-list .list-nav,
    .top-list .list-phone{
        display: none;
    }

    .header-top .top-sign .sign-qc {
        padding-left: 4rem;
        padding-right: 3rem;
    }

    .header-bottom .icon-list {
        font-size: 20px;
        display: grid;
        align-content: center;
        margin-left: 2rem;
    }

    .header-mobile {
        padding-left: 2rem;
    }

    .header-mobile .mobile-nave-list {
        margin-right: 1rem;
    }

    .fa-bars:before, .fa-navicon:before{
        border: 2px solid rgb(176, 180, 53);
        padding: 10px;
    }

    .header-bottom .bottom-logo a img{
        margin-left: 2rem;
    }

    .mobile-nave-list .list-shop-mb i {
        padding-left: 22rem;
    }

    .header-bottom .bottom-list {
        display: none;
    }

    .header-bottom .bottom-search .search{
        padding-right: 18px;
        padding-left: 10px;
    }

    .sign-up-detail .sign-in-layout,
    .sign-in-detail .sign-in-layout{
        margin: 76px 1rem;
        width: 24rem;
        padding: 30px 40px;
    }
}
